
#main-window {
    position: absolute;
    top:0px;
    left:0px;
}

#game-container {
    position: absolute;
    top:0px;
    left:0px;
    width: 1024px;
    height: 768px;
}

#game-background {
    position: absolute;
    top:0px;
    left:0px;
    width: 1024px;
    height: 768px;
}

#game-circular {
    position: absolute;
    top:0px;
    left:0px;
}

#star-object {
    position: absolute;
    top:203px;
    left:399px;
    width: 50px;
    height: 50px;
}

#key-object {
    position: absolute;
    top:203px;
    left:623px;
    width: 60px;
    height: 60px;
}

#finish-object {
    position: absolute;
    top:187px;
    left:852px;
    width: 120px;
    height: 120px;
}

#wall-object {
    position: absolute;
    top:609px;
    left:565px;
}

#game-count {
    position: absolute;
    font-family: arial;
    top:10px;
    left:37px;
    width: 236px;
    height: 160px;
    background-color: transparent;
}

#game-life {
    position: absolute;
    font-family: arial;
    top:10px;
    left:587px;
    width: 216px;
    height: 160px;
    background-color: transparent;
}

#game-score {
    position: absolute;
    font-family: arial;
    top:10px;
    left:780px;
    width: 216px;
    height: 160px;
    background-color: transparent;
}

.game-box-title {
    position: absolute;
    top:20px;
    left:30px;
    color:#000;
    width: auto;
    height: auto;
}

.game-box-text {
    position: absolute;
    text-align:center;
    top:40px;
    left:0px;
    color:#808080;
    width: 100%;
    height: auto;
}




